<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Listagem de Livros</title>
        <link rel="stylesheet" href="/css/bootstrap.css">
        <link rel="stylesheet" href="/css/bootstrap-theme.css">
    </head>
    <body class="container">
        <h2 class="basic-title text-center">Listagem de livros</h2>
        <div>
            <table class="table table-bordered">
                <thead>
                <tr>
                    <td><a href="">TÍTULO</a></td>
                    <td><a href="">PREÇO</a></td>
                    <td><a href="">DESCRIÇÃO</a></td>
                </tr>
                </thead>
                <tbody>
                    <% for(let i=0; i<lista.length; i++) {%>
                    	<tr>
                    		<td><%= lista[i].titulo %></td>
                    		<td><%= lista[i].preco %></td>
                    		<td><%= lista[i].descricao %></td>
                    	</tr>
                    <% } %>
                </tbody>
            </table>
        </div>
    </body>
</html>